@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700&display=swap&subset=vietnamese');

:root {
  --primary: #fe2c55;
  --white: #fff;
  --text-color: #828282;

  //Default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1450px;
  --default-layout-horizontal-spacer: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: black;
  text-decoration: none;
}

// Custom tippy tooltip
body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
    align-items: center;
  }

  .tippy-content {
    padding: 8px;
  }

  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
}
